# Build directories
build/
bin/
*.o
*.obj
*.a
*.so
*.dylib
*.dll

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.ninja
.ninja_*
compile_commands.json

# Qt Creator & IDEs
*.user
*.user.*
.vscode/
.idea/
*.swp
*~

# Testing
Testing/
*.log

# Releases and packages
*.pkg.tar.zst
*.tar.gz
pkg/
src-arch/

